<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗結果</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: purple; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md bg-success navbar-light">
	

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	
		</ul>
	</div>
	</nav>

	<main class="container-fluid bg-info text-white text-center">

		<nav>
			<h1><a class="text-reset text-decoration-none  bg-primary" target="_blank" id="COMPANY">李幸諭的職涯測驗結果</a></h1>
		</nav>

		<br><br><br>
		<div class="row">
			<session id="UCAN" class="col-lg-4">
				<img src="templates/興趣何倫碼.jpg" width="90%" id="pic" onmouseover="change1()""></img>
				 
			

		
		</div><br><br>
		
		<footer>
			Copyright ©  Hsing Yu. All Rights Reserved.
		</footer>
		
	</main>
</body>
</html>